@font-face {
    font-family: 'Tiempos Text';
    src: url(../wunderkammer/fonts/Klim\ Type\ –\ Tiempos\ Text\ \(Regular\).otf);
}

@font-face {
    font-family: 'Theinhardt';
    src: url(../wunderkammer/fonts/Optimo\ –\ Theinhardt\ \(Regular\).otf);
}